* {
  margin: 0;
  padding: 0;
}

#root {
  --pokeRed: #df3535;
  --pokeBlack: #222222;
  --pokeGrey: #828282;
}

.pokemonlist {
  width: 70%;
  padding: 3vh;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  padding: auto;
}

.more-pokemon {
  display: block;
  margin: auto;
}
