* {
  box-sizing: border-box;
}

.modal-image {
  width: 80%;
}

.modal-background {
  background-color: rgba(122, 122, 122, 0.979);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  border-radius: 20px;
}

.modal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.button-container {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
}

button {
  padding: 1em;
}
