.pokemonlist {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  gap: 60px;
  padding: 5px;
  box-sizing: border-box;
  overflow: hidden;
  font-family: "Pokemon Solid", sans-serif;
  overflow: visible;
  max-height: 280px;
  padding-right: 10px;
}
