.input-wrapper {
  position: relative;
  background-color: white;
  width: 100%;
  max-width: 350px;
  border-radius: 100px;
  height: 2.5rem;
  padding: 0 15px;
  box-shadow: 0px 0px 12px #000000;
  display: flex;
  align-items: center;
}

input {
  background-color: transparent;
  border: none;
  height: 100%;
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
  width: 100%;
  margin-left: 5px;
}

.input-wrapper input::placeholder {
  font-family: "Montserrat", sans-serif;
  color: #828282;
}

input:focus {
  outline: none;
  font-family: "Montserrat", sans-serif;
}

#search-icon {
  color: #df3535;
}
