.trainercards {
  width: 100%;
  padding: 4vh;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.trainer-card {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Pokemon Solid", sans-serif;
  background-color: grey;
  border-radius: 25px;
  padding: 2em;
  margin: 2em;
}

.trainerimg {
  width: 10em;
  max-width: 10em;
}

/* img {
  width: 6em;
  max-width: 6em;
} */

/* p {
  color: white;
  white-space: normal;
  width: 20em;
} */
